// @import 'bourbon';
// @import 'neat';
@import '../../node_modules/react-daterange-picker/dist/css/react-calendar.css';

html, body, #application {
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
}